body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.banner-section{
    background-image: url(./images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
  
}
.banner-items{
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
}
.banner-items h1{
    font-size: 70px;
}
.banner-items p{
    font-size: 20px;
    margin-bottom: 50px;
    
}
.link-button {
    background-color: rgb(240, 82, 54);
    padding: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border-radius: 5px;
    
}

.donate-price{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.donate-price h1{
    font-size: 40px;

}
.donate-amount-area{
    width: 70%;
}
.donate-amount{
    display: flex;
    position: absolute;
    width: 70%;
}

.amount-item{
    width: 100px;
    height: 100px;
    margin-left: 5%;
    background-color: #fafafa;
    padding-left: 30px;
    border-radius: 5px;
   

}
.amount-item p{
    margin: auto;
    margin-top: 40px;
    font-weight: 500;

}
#unique-item{
    border: 2px solid tomato;
    background-color: #ffeeee;
}




