body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}.banner-section{
    background-image: url(./images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
}
.banner-items{
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
}
.banner-items h1{
    font-size: 70px;
}
.banner-items p{
    font-size: 20px;
    margin-bottom: 50px;
    
}
.link-button {
    background-color: rgb(240, 82, 54);
    padding: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border-radius: 5px;
    
}

